#!/bin/bash
# {{ ansible_managed }}

set -euo pipefail

docker run --rm --user nobody:nogroup -e HOME=/tmp/ --network=host \
    tianon/speedtest:1.0 --accept-license --accept-gdpr -f json 2>/dev/null | \
gosu nobody:nogroup /usr/local/bin/speedtest2pg.py 
